body {
  line-height: 30px;
  font-family: 'Helvetica', 'Arial';
}

a {
  text-decoration: none;
  color: #2A7A97;
}

a:active {
  color: #35AB4D;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

h1 {
  margin: 30px 0;
}

h2 {
  margin-top: 40px;
  padding-top: 25px;
  border-top: 1px black solid;
  margin-bottom: 20px;
}

ul {
  margin-top: 20px;
}
